.button{
    -fx-background-color: black;
    -fx-background-radius: 15;
    -fx-font-size: 25;
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-pref-width: 200;
    -fx-pref-height: 50;
}



.button:hover{
    -fx-background-color: #141414;
    -fx-background-radius: 15;
    -fx-font-size: 25;
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-pref-width: 200;
    -fx-pref-height: 50;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}